<%- include('partials/header') -%>
<div class="flex flex-col">
  <nav
    class="sticky top-0 flex justify-between items-center h-12 w-screen px-12 text-white bg-[#F5B900]"
  >
    <h1 class="text-black text-xl">
      <span class="animate-[pulse_5s_ease-in-out_infinite]">Blank </span>Social
    </h1>
    <div>
      <button
        class="mr-2 openModal hover:text-black transition-colors duration-500"
        id=""
      >
        Create Post
      </button>
      <a href="/logout" class="hover:text-black transition-colors duration-500"
        >logout</a
      >
    </div>
  </nav>
  <main class="flex flex-col items-center h-screen w-screen pt-20">
    <% for(let i=0; i < posts.length; i++) {%>
    <div
      class="posts flex flex-col w-[350px] md:w-[500px] lg:w-[700px] m-3 p-12 border-2 border-gray-200"
      data-id="<%= posts[i]._id %>"
    >
      <!-- <img src="<%= posts[i].image %>" alt="" /> -->
      <span class="userId text-purple-600"><%= posts[i].createdBy %></span>
      <span class="post-text"><%= posts[i].caption %></span>
      <div>
        <span class="likes">likes: <%= posts[i].likes %></span>
        <form
          class="col-1"
          action="/posts/addLike/<%= posts[i]._id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit">
            like
          </button>
        </form>
        <% if(posts[i].createdBy === user.id) {%>
        <form
          class="col-1"
          action="/posts/deletePost/<%= posts[i]._id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit">
            DELETE
          </button>
        </form>
        <%}%>
      </div>
      <!-- Display delete button if user_id is same -->
      <!-- <span class="delete">[X]</span> -->
    </div>
    <% } %>
  </main>

  <!-- CREATE NEW POST MODAL -->
  <div
    class="postModal hidden absolute top-36 z-10 w-[400px] md:w-[550px] lg:w-[750px] self-center"
  >
    <div class="content">
      <span class="close font-bold text-2xl float-right">&times</span>
      <form
        class="flex flex-col items-center"
        action="/posts/createPost"
        method="POST"
      >
        <input id="img_upload" class="" type="file" name="image" />
        <img id="img_preview" src="#" alt="your image" name="image" />
        <input
          class="w-full my-6 border-2 border-gray-400"
          type="text"
          name="caption"
          placeholder="caption"
        />
        <input
          class="w-24 border-2 border-grey-200 p-1 px-3 hover:border-green-300 hover:cursor-pointer rounded-md transition-colors"
          type="submit"
          value="Submit"
        />
      </form>
    </div>
  </div>
</div>
<script src="./js/main.js"></script>

<%- include('partials/footer') -%>
